* { /* html oldalon mindenre vonatkozik*/
    font-family: 'Calibri', Garamond, 'Comic Sans MS';
    padding: 0px; /*nincs margo*/
}

main {
    width: 80%;
    max-width: 852px; /*maximum szélesség*/
    margin: auto; /* középre helyezi a maint */
}

article {
    border: 1px solid #999658; /*bekereteztük a szöveget*/
    padding: 5px;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px; /*amennyi li tag van ebben az esetben 5db*/
    gap: 100px;
    text-align: center;
    background-color: RGB(62, 144, 133);
    padding-top: 15px;
    padding-bottom: 15px;
}

body {
    background-image: url(kepek/Zene_uj_hatterkep.jpg); /* Háttérkép hozzáadása*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li a {
    text-decoration: none;
    color: white; /* Betű színét fehérre állítottuk*/
    font-family: 'Margarine',cursive; 
    
}

li {
    border: 1px solid grey;
}
footer {
    text-align: center;
}

li a:hover { /* csak a betűk színe fog változni ha felé viszem az egeret*/
    color: rgb(222, 10, 222);
}






























/*Reszponzivitás*/

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "n n"
    "h h"
    "ar as"
    "f f";

}

nav {
    grid-area: n;
}

header {
    grid-area: h;
}

article {
    grid-area: ar;
}

aside {
    grid-area: as;
}

footer {
    grid-area: f;
}